body, html {
  font-family: "Roboto", sans-serif;
  background: #b3d9ff;
}

.active {
  color: pink;
}

.logo {
  background-image: url('img/solgaleo.png');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
